    {{/* layouts/partials/sections/testimonial.html */}}
    {{ $sectionData := . }} {{/* Store the top-level section data context */}}

    <section id="{{ index $sectionData "id" | default "testimonial" }}" class="testimonial pa3 pa5-ns tc">
      <div class="container mw7 center">
        {{ with (index $sectionData "Title") }}<h2 class="f2 mb4">{{ . }}</h2>{{ end }}
        
        <blockquote class="mh0 pb3">
          {{ with (index $sectionData "AvatarURL") }}
            <img src="{{ . }}" alt="Avatar for {{ index $sectionData "Author" | default "testimonial author" }}" class="br-100 h3 w3 dib ba b--black-05 pa2" />
          {{ end }}
          {{ with (index $sectionData "Quote") }}
            <p class="f3 lh-copy measure-narrow center">“{{ . }}”</p>
          {{ end }}
          {{ with (index $sectionData "Author") }}
            <cite class="f6 ttu tracked fs-normal">
              {{ . }}{{ with (index $sectionData "Company") }}, <span class="fw2 normal-case">{{ . }}</span>{{ end }}
            </cite>
          {{ end }}
        </blockquote>
        
      </div>
    </section>
